{% extends 'mailing/base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    {% include 'mailing/includes/header.html' %}

    <div class="container">
        <h2>Вход на сайт</h2>
        <form method="post">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-body">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-primary">Войти</button>
                            <a href="{% url 'mailing:home' %}" class="btn btn-secondary">Отмена</a>
                            <a href="{% url 'users:password_reset' %}" class="btn btn-primary">Забыли пароль?</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
